/*Menu*/
nav {
	background: rgba(3, 117, 180, .55);
}

ul#menu{
	background-color: #ced9d9;
  border-radius: 8px;
}

ul#menu li{
  text-align: center;
}

ul#menu li a{
	color: #262228;
  text-decoration: none;
}

/*Index *(inicio)*/
#hdFondo{
	background-image: url("../img/inicio.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.57;
	height: 900px;
	margin-bottom: -180px;
}

#hdInicio h1, #hdInicio h2{
	font-family: 'PT Sans', sans-serif;
	position: relative;
	text-align: center;
	font-weight: bold;
}

#hdInicio{
	height: 950px;
}

#hdInicio h1{
	color: #39ae34;
	top: -620px;
	font-size: 55px;
}

#hdInicio h2{
	color: #262228;
	top: -600px;
	font-size: 44px;
}

section#secInicio h2{
	padding: 30px 0px;
}

section#secInicio article h3{
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

#tl0{
	display: none; /*No se muestre el titulo del section*/
}

#busqueda{
	margin-top: 22px;
	height: 30px;
	text-indent: 10px;
}

#login{
	margin-left: 50px;
}


.content-search{
	width: 200px;
	height: 100px;
	position: fixed;
	top: 70px;
	background-color: #ced9d9;
	display: none;
}

.content-table{
	max-height: 200px;
	height: auto;
	background-color: #ced9d9;
	margin-left: 10px;
	overflow-y: visible;
	overflow-x: hidden;
}

/*Un mensaje que sale en la busqueda no deseo mostrar*/
#table_length, #table_filter, #table_info{
	display: none;
}

tbody#bodyBusqueda tr td a{
	display: block;
	text-decoration: none;
	color: black;
}

tbody#bodyBusqueda tr td a:hover{
	background-color: gray;
}

section#secInicio article p{
	text-align: justify;
	font-family: 'PT Sans', sans-serif;
}

section#secInicio article{
	position: relative;
	top: -30px;
}

figure#logo img{
	height: 60px;
  position: relative;
  top: 8px;
}

/*Footer inicio*/
footer{
	text-align: center;
  color: white;
  font-weight: bold;
  background-color: #262228;
	font-family: 'PT Serif', serif;
	/*height: 230px;*/
}

#contador{
	text-align: right;
	padding-top: 15px;
}

footer p{
  position: relative;
  top: 3px;
  line-height: 10px;
}

figure#bottom img{
	height: 70px;
  position: relative;
  top: 8px;
}

ul#bottomList{
	padding-left: 0px; /*Quitar el padding para que se centre correctamente el pequeño menu del footer*/
}

ul#bottomList li a{
  color: white;
  font-weight: normal;
  text-decoration: none;
  position: relative;
  top: 5px;
}

/*Creadores*/
#creadBody1, #creadBody2{
	background: rgba(0, 120, 73, .15); /*3,117,180 = #0375b4, .55 para opacity*/
}

#tituloCread{
	font-family: 'PT Sans', sans-serif;
	color: #39ae34;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 40px;
}

section#secCreadores{
	padding-bottom: 80px;
	text-align: center;
}

#crCompleto1, #crCompleto2{
	padding-left: 80px;
}

#creador1, #creadorlinea{
	position: relative;
	top: 60px;
}

#creadorlinea{
	position: relative;
	top: 70px;
}

#crCompleto2{
	position: relative;
	top: 75px;
}

#imagen1, #imagen2{
	height: 200px;
}

#nombre1, #info1, #nombre2, #info2, #linea{
	font-family: 'PT Serif', serif;
	color: #262228;
	text-align: justify;
}

#info1 p, #info2 p{
	font-family: 'PT Serif', serif;
	padding: 5px 0px;
}

#nombre1, #nombre2{
	font-family: 'PT Serif', serif;
	color: #262228;
	padding: 0px 15px;
}

#linea{
	text-align: center;
}

#ce1, #ce2{
	text-align: left;
}

/*Trabajos*/
h1#tlTra, h1#hdConsejos{
	font-family: 'PT Sans', sans-serif;
	color: #39ae34;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 40px;
}

section.secTrab{
	padding: 50px 0px;
	padding-left: 35px;
	padding-right: 25px;

	/*Centrar las imagenes (mas bien el area section)*/
	margin: 10px 10px;
	display:block;
}

/*Centrar el area section y titulos*/
section#secInicio, #hdInicio, section#secCreadores, #tituloCread, #hdConsejos, section#secConsejos{
	margin:0px auto;
	display:block;
}

img#imTr1{
	height: 600px;
	padding-bottom: 20px;
}

img#imTr2, img#imTr3{
	height: 280px;
	padding-bottom: 20px;
}

img#imTr4, img#imTr5, img#imTr6{
	height: 200px;
	padding-bottom: 20px;
}

/*Consejos*/

aside#asConsejos{
	padding: 30px 15px;
}

aside#asConsejos div article header h3{
	text-align: justify;
	text-decoration: none;
	text-decoration-color: red;
}

section#secConsejos{
	padding: 30px 60px;
}
section#secConsejos h4{
	text-align: justify;
}

section#secConsejos article h3{
	font-family: 'PT Sans', sans-serif;
	color: #39ae34;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}

section#secConsejos article p{
	font-family: 'PT Serif', serif;
	color: #262228;
	text-align: justify;
}

section#secConsejos article{
	padding: 30px 0px;
}

section#secConsejos img{
	padding:20px;
}

aside#asConsejos header h2, aside#asConsejos article header h3{
	font-family: 'PT Serif', serif;
	color: #262228;
	text-align: center;
}


aside#asConsejos header h2{
	font-weight: bold;
	font-size: 25px;
}

aside#asConsejos article header h3{
	font-size: 18px;
	padding-left: 0px;
}

section#secConsejos img{
	display: block;
	margin: auto;
	height: 300px;
	width: 300px;
}

aside#asConsejos article figure img{
	width: 170px;
	height: 150px;
}

aside#asConsejos article{
	padding: 15px 3px;
}

footer#footPaginas{
	height: 40px;
}

/* Contacto*/

h1#hdFormulario{
	font-family: 'PT Sans', sans-serif;
	color: #39ae34;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 40px;
	height: 25px;
	margin-bottom: 15px;
}

iframe#mapaContacto{
	padding: 60px 10px;
	height: 500px;
}

section#secCont h2, section#secCont h3{
	font-size: 26px;
	padding: 20px 0px;
}

div#infoServitec{
	padding: 50px 40px;
	color: black;
	text-align: center;
	position: relative;
	top: 40px;
}

div.infoEmpresa{
	background: rgba(0, 120, 73, .15); /*3,117,180 = #0375b4, .55 para opacity*/
	padding-bottom: 20px;
}

div.infoEmpresa p, div.infoEmpresa label {
	font-style: italic;
	font-style: normal;
	text-align: center;
	font-size: 18px;
}

div.formulario{
	line-height: 40px;
}

textarea#mensajeContactos{
	width: 800px;
	height: 150px;
}

/*Nosotros*/

h1.tituloNosotros{
	font-family: 'PT Sans', sans-serif;
	color: #39ae34;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 40px;
}

div.contNosotros{
	padding:60px 0px;
	text-align: center;
  justify-content: center;
	vertical-align: middle;
}

div.contNosotros img{
	padding:5px;
	height: 300px;
	width: 550px;
	display:block;
	margin:auto;
}

div.contNosotros h2{
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-weight: bold;
}

div.contNosotros p{
	font-style: italic;
	text-align: center;
	font-size: 17px;
}


/*TIMELINE*/

#timeline {
	padding-top: 60px;
}

@font-face {
	font-family: 'ecoico';
	src:url('../fonts/timelineicons/ecoico.eot');
	src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/timelineicons/ecoico.woff') format('woff'),
		url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
}

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}

.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
}

.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #A7F990;
	color: black;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #8EC6C2;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 {
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #3594cb;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}

@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}
}


/*SLIDER CONSEJOS*/

div.slider p{
	color: white;
	font-family: serif;
	font-size: 30px;
	padding:10px 0px 0px 0px;
}

div.slider span{
	text-align: center;
	font-weight: 900;
	color: red;
	text-shadow: 2px 0 0 black, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

.icon-cards {
  position: relative;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0;
  color: white;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-30vw) rotateY(0);
          transform: translateZ(-30vw) rotateY(0);
  -webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
          animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.icon-cards__content.step-animation {
  -webkit-animation: carousel 8s infinite steps(1) forwards;
          animation: carousel 8s infinite steps(1) forwards;
}
.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
#card_ladrillo {
  -webkit-transform: rotateY(0) translateZ(35vw);
  transform: rotateY(0) translateZ(35vw);
	background-image: url("../img/ladrillos.jpg");
}
#card_consejoscasa {
  -webkit-transform: rotateY(120deg) translateZ(35vw);
          transform: rotateY(120deg) translateZ(35vw);
					background-image: url("../img/vivienda.jpg");
}
#card_pintura {
  -webkit-transform: rotateY(240deg) translateZ(35vw);
          transform: rotateY(240deg) translateZ(35vw);
	background-image: url("../img/pintura.jpg");
}
#card_diseno {
  -webkit-transform: rotateY(360deg) translateZ(35vw);
          transform: rotateY(360deg) translateZ(35vw);
	background-image: url("../img/disenocasas.jpg");
}


@-webkit-keyframes carousel {
  0%,  17.5% {
    -webkit-transform: translateZ(-35vw) rotateY(0);
            transform: translateZ(-35vw) rotateY(0);
  }
  27.5%, 45% {
    -webkit-transform: translateZ(-35vw) rotateY(-120deg);
            transform: translateZ(-35vw) rotateY(-120deg);
  }
  55%, 72.5% {
    -webkit-transform: translateZ(-35vw) rotateY(-240deg);
            transform: translateZ(-35vw) rotateY(-240deg);
  }
  82.5%, 100% {
    -webkit-transform: translateZ(-35vw) rotateY(-360deg);
            transform: translateZ(-35vw) rotateY(-360deg);
  }
}

@keyframes carousel {
  0%,  17.5% {
    -webkit-transform: translateZ(-35vw) rotateY(0);
            transform: translateZ(-35vw) rotateY(0);
  }
  27.5%, 45% {
    -webkit-transform: translateZ(-35vw) rotateY(-120deg);
            transform: translateZ(-35vw) rotateY(-120deg);
  }
  55%, 72.5% {
    -webkit-transform: translateZ(-35vw) rotateY(-240deg);
            transform: translateZ(-35vw) rotateY(-240deg);
  }
  82.5%, 100% {
    -webkit-transform: translateZ(-35vw) rotateY(-360deg);
            transform: translateZ(-35vw) rotateY(-360deg);
  }
}
html,
body {
  height: 100%;
}

div.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #262228;
}

.checkbox {
  display: none;
}
