{% extends 'base/base.html' %}
{% load staticfiles%}

{% block content %}
<div class="row">
        <header class="col-xl-12">
          <h1 id="hdConsejos" class="col-xl-12">Consejos</h1>
        </header>
      </div>

      <div class="row">
        <section id="secConsejos" class="col-md-8 col-12">
          <h3 id="tl0" class="col-xl-12">.</h3>
          <div class="row">
            <article class="col-md-12">
              <h3 > Conoce los tipos de ladrillos y sus principales usos </h3>
              <h4 >LADRILLO COCIDO DE ARCILLA</h4>
              <img class="col-md-12 col-12" src="{% static 'img/ladrillococido.jpg' %}" alt="Imagen not found">
              <p > Es el más común de todos. Su uso está muy diversificado en el ramo de la construcción. Se elabora de forma totalmente artesanal y carece de agujeros.</p>
            </article>
          </div>

          <div>
            <article>
              <h4 > LADRILLO DE TIERRA PERFORADO</h4>
              <img class="col-md-12 col-12" src="{% static 'img/ladrilloperforado.jpg' %}" alt="Imagen not found">
              <p > Si lo que deseas es hacer aún más resistente tu muro, este ladrillo es el indicado. Los agujeros en su superficie permiten el ingreso del mortero o concreto fortaleciendo la construcción.</p>
            </article>
          </div>
          <div>
            <article>
              <h4> LADRILLO PERFORADO AL CANTO O HUECO </h4>
              <img class="col-md-12 col-12" src="{% static 'img/ladrilloperforadocanto.jpg' %}" alt="Imagen not found">
              <p> Estos ladrillos tienen perforaciones horizontales. Sus huecos brindan ligereza, por lo que reducen la carga. Los hay de formato tradicional o gran formato, según las necesidades del constructor.</p>
            </article>
          </div>
          <div>
            <article>
              <h4> ADOBE </h4>
              <img class="col-md-12 col-12" src="{% static 'img/ladrilloadobe.jpg' %}" alt="Imagen not found">
              <p> Este material, es usado en construcciones de tipo rústico o de un nivel. A diferencia del ladrillo cocido de arcilla, éste se seca completamente al sol, por lo que sus cualidades térmicas son mayores. Sin embargo, por su poca resistencia, no es recomendable para construcción de viviendas.</p>
              <p>Como ventaja, podemos resaltar su bajo costo</p>
            </article>
          </div>
          <div>
            <article>
              <h4> BLOQUE DE CEMENTO </h4>
              <img class="col-md-12 col-12" src="{% static 'img/ladrillocemento.jpg' %}" alt="Imagen not found">
              <p> El bloque de cemento es un material prefabricado que se utiliza principalmente para construir muros. Al igual que los ladrillos comunes, los bloques funcionan en conjunto al apilarse y al unirse con mortero formado generalmente por cemento, arena y agua. Para llevar a cabo esta unión, los bloques presentan un interior hueco que permite el paso de las barras de acero y el relleno de mortero.</p>
            </article>
          </div>
        </section>
     </div>

     <div class="row slider">
       <p>CONSEJOS</p>
       <figure class="icon-cards mt-3">
         <div class="icon-cards__content step-animation">
           <div id="card_diseno" class="icon-cards__item d-flex align-items-center justify-content-center">
             <span class="h1"><a id="consejosD" href="">Diseño de tu casa</a></span>
           </div>
           <div id="card_consejoscasa" class="icon-cards__item d-flex align-items-center justify-content-center">
             <span class="h1"><a id="consejosU" href="">Construir tu casa</a></span>
           </div>
           <div id="card_pintura" class="icon-cards__item d-flex align-items-center justify-content-center">
             <span class="h1"><a id="consejosP" href="">Tipos de pintura y usos</a></span>
           </div>
         </div>
       </figure>

       <div class="checkbox ">
         <input class="d-none" id="toggle-animation" type="checkbox" />
         <label class="checkbox__checkbox" for="toggle-animation"></label>
         <label class="checkbox__label" for="toggle-animation">Toggle animation</label>
       </div>
     </div>

{% endblock %}