{% extends 'base/base.html' %}
{% load staticfiles%}

{% block content %}
<div class="row">
        <header class="hdContac col-md-12">
          <h1 id="hdFormulario"> FORMULARIO DE CONTACTO </h1>
        </header>
      </div>

      <aside>
      </aside>

      <div class="row">
        <section id="secCont" class="col-md-12">
          <div id="infoServitec" class="row">
              <iframe id="mapaContacto" class="col-md-6 col-12" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3226.131451201336!2d-79.91981002344507!3d-2.09240443710312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sec!4v1540444689196" width="600" height="450" style="border:0" allowfullscreen></iframe>

              <div class="infoEmpresa col-md-6 col-12">
                <h2 class="col-md-12 col-12">* S E R V I T E C *</h2>
                <p class="col-md-12 col-12">Telefono de la Empresa: (+593-994123771)</p>
                <p class="col-md-12 col-12">Correo de la Empresa: carlosburgos63@hotmail.com</p>
                <p class="col-md-12 col-12">Dirección de la Empresa: Lot. Mucho Lote Mz.3030 Sl.123 (3er Callejon, 8va Peatonal)</p>
                <p class="col-md-12 col-12">Guayaquil - Ecuador</p>

                <div class="formulario">
                  <form id="contactoFormulario" class="contacto" name="formulario" action="mailto:carlosburgos63@hotmail.com" method="post" enctype="text/plain">
                    <h3>¿Deseas que te contactemos?</h3>
                    <div>
                      <label class="col-md-5 col-12" for="nombre"> Nombre </label>
                      <input class="col-md-6 col-12" type="text" id="nombre" name="Nombre" size="30" maxlength="50" placeholder="Ingrese su nombre" required>
                    </div>
                    <div>
                      <label class="col-md-5 col-12" for="correoElectronico"> Correo Electronico </label>
                      <input class="col-md-6 col-12" type="text" id="correoElectronico" name="E-mail" placeholder="Ingrese su Correo" pattern="[a-z0-9._-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                    </div>
                    <div>
                      <label class="col-md-5 col-12" for="ciudad"> Ciudad </label>
                      <input class="col-md-6 col-12" type="text" id="ciudad" name="Ciudad" maxlength="50" placeholder="Ingrese su ciudad" required>
                    </div>
                    <div>
                      <label class="col-md-5 col-12" for="direccion"> Dirección </label>
                      <input class="col-md-6 col-12" type="text" id="direccion" name="Direccion" maxlength="100" placeholder="Ingrese su dirección" required>
                    </div>

                    <div>
                      <label class="col-md-5 col-12" > Año de Nacimiento </label>
                      <input id="nacFormulario" class="col-md-6 col-12" list="añosultimos" name="Año de Nacimiento" placeholder="Escoja el año" pattern="[0-9]{4}" required/>
                      <datalist class="col-md-4 col-12" id="añosultimos">
                        <option value="1960">
                        <option value="1961">
                        <option value="1962">
                        <option value="1963">
                        <option value="1964">
                        <option value="1965">
                        <option value="1966">
                        <option value="1967">
                        <option value="1968">
                        <option value="1969">
                        <option value="1970">
                        <option value="1971">
                        <option value="1972">
                        <option value="1973">
                        <option value="1974">
                        <option value="1975">
                        <option value="1976">
                        <option value="1977">
                        <option value="1978">
                        <option value="1979">
                        <option value="1980">
                        <option value="1981">
                        <option value="1982">
                        <option value="1983">
                        <option value="1984">
                        <option value="1985">
                        <option value="1986">
                        <option value="1987">
                        <option value="1988">
                        <option value="1989">
                        <option value="1990">
                        <option value="1991">
                        <option value="1992">
                        <option value="1993">
                        <option value="1994">
                        <option value="1995">
                        <option value="1996">
                        <option value="1997">
                        <option value="1998">
                        <option value="1999">
                        <option value="2000">
                      </datalist>
                    </div>
                    <div>
                      <p class="col-md-12 col-12">Escribenos</p>
                      <textarea id="mensajeContactos" class="col-md-7 col-11" name="Mensaje" rows="8" cols="80" > </textarea>
                      <div class="col-md-12 col-12">
                        <button id="botonFormulario" class="col-md-3 col-5" type="submit">Enviar</button>
                        <button class="col-md-3 col-5" type="reset">Limpiar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
          </div>
        </section>
      </div>
{% endblock %}