{% extends 'base/base.html' %}
{% load staticfiles%}

{% block content %}
 <div id="creadBody1" class="row">
        <header class="col-xl-12 col-12">
          <h1 id="tituloCread" class="col-xl-12 col-12">Creadores de la Página</h1>
        </header>
      </div>

      <div id="creadBody2" class="row">
        <section id="secCreadores" class="col-xl-12 col-12">
          <h3 id="tl0" class="col-xl-12">.</h3>
          <article id="creador1">
            <div id="crCompleto1" class="row">
              <h2 id="nombre1" class="col-md-12 col-12">Angel Moya</h2>
              <div id="info1" class="col-md-6 col-9">
                <p class="col-md-12">Estudiante de la  carrera Ingeniería en Computación en la ESPOL (Escuela Superior Politécnica del Litoral).</p>
                <p class="col-md-12">Lenguajes: Java, Python, C++</p>
                <p id="ce1" class="col-md-12">Correo electrónico: lamoya@espol.edu.ec</p>
                <p class="col-md-12">Teléfono: 0990851889</p>
              </div>
              <figure class="col-md-6 col-4">
                <img id="imagen1" src="{% static 'img/Moya.jpeg' %}" alt="Image Not Found">
              </figure>
            </div>
          </article>

          <div id="creadorlinea" class="row">
            <p id="linea" class="col-md-12 d-none d-md-block">----------------------------------------------------------------------------------------------------------------------------</p>
          </div>

          <article id="creador2">
            <div id="crCompleto2" class="row">
              <h2 id="nombre2" class="col-md-12 col-12">Carolina Burgos</h2>
              <div id="info2" class="col-md-6 col-9">
                <p class="col-md-12">Estudiante de la  carrera Ingeniería en Computación en la ESPOL (Escuela Superior Politécnica del Litoral).</p>
                <p class="col-md-12">Lenguajes: Java, Python, C++</p>
                <p id="ce2" class="col-md-12">Correo electrónico: caralbur@espol.edu.ec</p>
                <p class="col-md-12">Teléfono: 0990348816</p>
              </div>
              <figure class="col-md-6 col-4">
                <img id="imagen2" src="{% static 'img/Burgos.jpg' %}" alt="Image Not Found">
              </figure>
            </div>
          </article>
        </section>
      </div>
{% endblock %}