{% extends 'base/base.html' %}
{% load staticfiles%}
{% block navbar %}

 <div class="row sticky-top">
        <nav id="encabezado" class="navbar navbar-expand-sm navbar-dark col-md-12">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="row col-md-12">
            <div class="row col-md-2">
              <figure id="logo" class="d-none d-md-block">
                  <a id="imagenLink" href=""><img src="{% static 'img/logo.png' %}" alt="Image Not Found"></a>
              </figure>
            </div>
            <div id="menuPrincipal" class="collapse navbar-collapse col-md-7">
              <ul id="menu" class="list-inline navbar-nav mx-auto ">
                <li class="list-inline-item nav-item"><a class="nav-link" href="{% url 'vistas:index' %}">Inicio</a></li>
                <li class="list-inline-item nav-item "><a class="nav-link" href="{% url 'vistas:nosotros' %}">Nosotros</a></li>
                <li class="list-inline-item nav-item "><a class="nav-link" href="{% url 'vistas:trabajos' %}">Trabajos</a></li>
                <li class="list-inline-item nav-item "><a class="nav-link" href="{% url 'vistas:consejosLadrillos' %}">Consejos</a></li>
                <li class="list-inline-item nav-item "><a class="nav-link" href="{% url 'vistas:creadores' %}">Creadores</a></li>
                <li class="list-inline-item nav-item "><a class="nav-link" href="{% url 'vistas:contactos' %}">Contáctenos</a></li>
              </ul>
            </div>
            <div class="row col-md-2">
              <input type="search" id="busqueda" placeholder="Buscar...">
              <div class="content-search">
                <div class="content-table">
                  <table id="table">
                      <thead>
                        <tr>
                          <td></td>
                        </tr>
                      </thead>
                      <tbody id="bodyBusqueda">
                        <tr>
                          <td> <a id="busI" href="">Inicio</a> </td>
                        </tr>
                        <tr>
                          <td> <a id="busCon" href="">Consejos</a> </td>
                        </tr>
                        <tr>
                          <td> <a id="busC" href="">Contacto</a> </td>
                        </tr>
                        <tr>
                          <td> <a id="busCr" href="">Creadores</a> </td>
                        </tr>
                        <tr>
                          <td> <a id="busD" href="">Diseño</a> </td>
                        </tr>
                        <tr>
                          <td> <a id="busL" href="">Ladrillos</a> </td>
                        </tr>
                        <tr>
                          <td> <a id="busN" href="">Nosotros</a> </td>
                        </tr>
                        <tr>
                          <td> <a id="busP" href="">Pintura</a> </td>
                        </tr>
                        <tr>
                          <td> <a id="busT" href="">Trabajos</a> </td>
                        </tr>
                        <tr>
                          <td> <a id="busUC" href="">Ubicación Casa</a> </td>
                        </tr>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
	  <div class="row col-md-1" id="login">
              <form action="{% url 'login_usuario' %}" method="post" class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Login</button>
            </form>
          </div>

        </nav>
      </div>

{% endblock %}

{% block content %}
	<div class="row">
        <header id="hdInicio">
          <div id="hdFondo" class="col-md-12 col-12"> </div>
          <h1 class="col-md-12 col-12"> SERVITEC </h1>
          <h2 class="col-md-12 col-12"> Servicio de construcción y electricidad con años de experiencia en sectores públicos y privados </h2>
        </header>
      </div>
	 <div class="row">
        <section id="secInicio" class="col-xl-12 col-12">

          <h3 id="tl0" class="col-xl-12 d-none d-md-block">.</h3>

          <div class="row">
            <article class="col-md-4 col-12">
              <div class="row">
                <h3 class="col-md-12 col-12"> ¿Quiénes somos? </h3>
                <figure class="col-md-3 d-none d-md-block">
                  <img src="{% static 'img/quienes.jpg' %}" alt="Error en imagen">
                </figure>
                <p class="col-md-9 col-12"> SERVITEC proporciona servicios tanto de construcción, electricidad, y más a nivel nacional. <a id="masCr" class="nav-link" href="">Leer más.</a> </p>
              </div>
            </article>

            <article class="col-md-4 col-12">
              <div class="row">
                <h3 class="col-md-12 col-12"> Acerca De </h3>
                <figure class="col-md-3 d-none d-md-block">
                  <img src="{% static 'img/acerca.jpg' %}" alt="Error en imagen">
                </figure>
                <p class="col-md-9 col-12"> SERVITEC realiza trabajos en todo Ecuador, contando con un buen servicio tanto de mano de obra como en proporcionar los productos de mejor calidad. <a id="masN" class="nav-link" href="">Leer más.</a> </p>
              </div>
           </article>

            <article class="col-md-4 col-12">
              <div class="row">
                <h3 class="col-md-12 col-12"> Contáctenos </h3>
                <figure class="col-md-3 d-none d-md-block">
                  <img src="{% static 'img/contactenos.jpg' %}" alt="Error en imagen">
                </figure>
                <p class="col-md-9 col-12"> Nos pueden contactar para cualquier servicio de construcción y electricidad tanto vía e-mail como telefónica. <a id="masCn" class="nav-link" href="">Leer más.</a> </p>
              </div>
           </article>
          </div>
        </section>
      </div>

{% endblock %}

{% block footer %}

 <div class="row">
        <footer class="col-md-12 col-12">
          <figure id="bottom" class="col-md-12">
            <img src="{% static 'img/logo.png' %}" alt="Error en imagen">
          </figure>
          <ul id="bottomList" class="d-none d-md-block">
              <li class="list-inline-item"><a id="footerI" href="">INICIO</a></li>
              <li class="list-inline-item"><a id="footerN" href="">NOSOTROS</a></li>
              <li class="list-inline-item"><a id="footerT" href="">TRABAJOS</a></li>
              <li class="list-inline-item"><a id="footerC" href="">CONSEJOS</a></li>
              <li class="list-inline-item"><a id="footerCn" href="">CONTACTO</a></li>
          </ul>
          <p class="col-md-12 col-12"> Dir: Mucho Lote 4ta etapa MZ 2519 V 26 </p>
          <p class="col-md-12 col-12"> Tel: 0994123771 </p>
          <div id="contador" class="col-md-12 d-none d-md-block">
            <p>Contador de visitas: <span id="contadorCuadro" class="badge badge-primary">0</span></p>
          </div>
        </footer>
      </div>

{% endblock %}
