{% extends 'base/base.html' %}
{% load staticfiles%}

{% block content %}

<div class="row">
        <header class="hdNosotros col-md-12 col-12">
          <h1 class="tituloNosotros">NOSOTROS</h1>
        </header>
      </div>

      <div class="contNosotros">

        <div class="row">
          <section id="contenido" class="col-md-12 col-12">
            <div class="row">
                <img class="col-md-6 col-12" id="imgPresentacion" src="{% static 'img/presentacion.jpg' %}" alt="Error en imagen">
              <div class="textpres col-md-6">
                <h2 class="col-md-12 col-12"> Presentación </h2>
                <p class="col-md-12 col-12"> SERVITEC realiza trabajos en todo Ecuador, contando con un buen servicio en lo que concierne realizar una cotización de los elementos de buena calidad necesarios  y la mano de obra para llevar a cabo el proyecto. </p>
              </div>
            </div >
          </section>
        </div>

        <div class="row">
          <section id="areaTrabajo" class="col-md-12 col-12">
            <div class="row">
                <img class="col-md-6 col-12 " src="{% static 'img/areaTrabajo.jpg' %}" alt="Error en imagen">
              <div class="texttrab col-md-6 col-12">
                <h2 class="col-md-12 col-12"> Área de Trabajo </h2>
                <p class="col-md-12 col-12"> SERVITEC proporciona servicios tanto de construcción, reparaciones, remodelaciones y electricidad a nivel nacional. </p>
              </div>
            </div >
          </section>
        </div>

        <div class="row">
          <section id="historia" class="col-md-12 col-12">
            <div class="row">
              <img class="col-md-6 col-12" src="{% static 'img/historia.jpg' %}" alt="Error en imagen">
              <div class="texthist col-md-6 col-12">
                <h2 class="col-md-12 col-12"> Historia</h2>
                <p class="col-md-12 col-12"> SERVITEC es una empresa que desde hace 37 años se dedica a ofrecer servicios de construcción y electricidad de calidad permitiendo que nuestros clientes obtengan un servicio de excelencia. </p>
              </div>
            </div >
          </section>
        </div>


        <div class="row">
          <section id="compromiso" class="col-md-12 col-12">
            <div class="row">
              <img class="col-md-6 col-12" src="{% static 'img/compromiso.jpg' %}" alt="Error en imagen">
              <div class="textcomp col-md-6 col-12">
                <h2 class="col-md-12 col-12"> Compromiso</h2>
                <p class="col-md-12 col-12"> SERVITEC se compromete con sus clientes a proporcionar un producto final impecable, el mismo que será supervisado día a día en el tiempo de construcción. </p>
              </div>
            </div >
          </section>
        </div>

        <div class="row">
          <section id="mision" class="col-md-12 col-12">
            <div class="row">
                <img class="col-md-6 col-12" src="{% static 'img/mision.JPG' %}" alt="Error en imagen">
              <div class="textmisvis col-md-6 col-12">
                <div class="row col-md-12 col-12">
                  <h2 class="col-md-12 col-12"> Misión </h2>
                  <p class="col-md-12 col-12"> Fortalecer la relación con nuestros clientes a través del servicio de calidad demostrado en cada trabajo realizado. </p>
                </div>
                <div class="row col-md-12 col-12">
                  <h2 class="col-md-12 col-12"> Visión </h2>
                  <p class="col-md-12 col-12"> Ser líder en referencias del mercado de la construcción y electricidad a base de la calidad e innovación brindada en cada uno de los proyectos. </p>
                </div>
              </div>
            </div >
          </section>
        </div>

      </div>

{% endblock %}