{% extends 'base/base.html' %}
{% load staticfiles%}

{% block content %}
<div class="row">
        <header class="col-md-12 col-12">
          <h1 id="tlTra" class="col-md-12 col-12">Trabajos Previos</h1>
        </header>
      </div>

      <div class="row col-md-12">
        <div class="row col-md-8 col-12">
          <section class="secTrab col-12">
            <h3 id="tl0" class="col-md-12 col-12">.</h3>
            <div class="row ">
                <img id="imTr1" class="col-md-12 d-none d-md-block" src="{% static 'img/tr2.jpg' %}" alt="Image Not Found">
              </div>

            <div class="row ">
                <img id="imTr2" class="col-md-6 col-12" src="{% static 'img/tr.jpg' %}" alt="Image Not Found">
                <img id="imTr3" class="col-md-6 col-12" src="{% static 'img/tr3.jpg' %}" alt="Image Not Found">
            </div>

            <div class="row ">
                <img id="imTr4" class="col-md-4 col-12" src="{% static 'img/tr5.jpg' %}" alt="Image Not Found">
                <img id="imTr5" class="col-md-4 col-12" src="{% static 'img/tr4.jpg' %}" alt="Image Not Found">
                <img id="imTr6" class="col-md-4 d-none d-md-block" src="{% static 'img/tr6.jpg' %}" alt="Image Not Found">
            </div>
          </section>
        </div>

        <aside id="timeline" class="col-md-4 d-none d-md-block">
          <ul class="cbp_tmtimeline">

          </ul>
        </aside>
      </div>
{% endblock %}