{% load staticfiles %} 

<!DOCTYPE html> 

<html lang="es"> 

<head> 

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

<meta charset="UTF-8"> 

<title>{% block title %}Document{% endblock %}</title> 

</head> 

<body> 

<div class="container"> 

<table class="table table-bordered"> 

<thead> 

<tr> 

<td>#</td> 

<td>Username</td> 

<td>Nombre</td> 

<td>Apellido</td> 

<td>Correo</td> 

</tr> 

</thead> 

<tbody> 

{% if object_list %} 

{% for usuario in object_list %} 

<tr> 

<td>{{ usuario.id }}</td> 

<td>{{ usuario.username }}</td> 

<td>{{ usuario.first_name }}</td> 

<td>{{ usuario.last_name }}</td> 

<td>{{ usuario.email }}</td> 

</tr> 

{% endfor %} 

 

{% else %} 

<h1>No hay registros de usuario</h1> 

{% endif %} 

</tbody> 

</table> 

<div class="row"> 

<div class="col-md-6 col-md-offset-3"> 

<div class="form-group"> 

<a class="btn btn-primary" href="{% url 'login_usuario' %}">Salir</a> 

</div> 

</div> 

</div> 

</div> 

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 

<script src="{% static 'js/popper.min.js' %}"></script> 

<script src="{% static 'js/bootstrap.min.js' %}"></script> 

</body> 

</html> 