{% load staticfiles %} 

<!DOCTYPE html> 

<html lang="es"> 

<head> 

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 

<meta charset="UTF-8"> 

<title>{% block title %}Document{% endblock %}</title> 

</head> 

<body> 

<div class="container"> 

<form method="post"> 

{% csrf_token %} 

<div class="row"> 

<div class="col-md-6 col-md-offset-3"> 

<div class="form-group"> 

<label for="username">Nombre de usuario:</label> 

<input class="form-control" type="text" name="username"> 

</div> 

</div> 

</div>  

<div class="row"> 

<div class="col-md-6 col-md-offset-3"> 

<div class="form-group"> 

<label for="username">Contraseña:</label> 

<input class="form-control" type="password" name="password"> 

</div> 

</div> 

</div> 

<div class="row"> 

<div class="col-md-6 col-md-offset-3"> 

<div class="form-group"> 

<input class="btn btn-primary" type="submit" value="Ingresar"> 

</div> 

</div> 

</div> 

</form> 

</div> 

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 

<script src="{% static 'js/popper.min.js' %}"></script> 

<script src="{% static 'js/bootstrap.min.js' %}"></script> 

</body> 

</html> 