@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Index *(inicio)*/
#hdFondo{
	background-image: url("img/inicio.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.57;
	width: 100%;
	height: 900px;
	margin-bottom: -180px;
}

#hdInicio h1, #hdInicio h2{
	font-family: 'PT Sans', sans-serif;
	position: relative;
	text-align: center;
	font-weight: bold;
}

#hdInicio{
	height: 950px;
}

#hdInicio h1{
	color: #39ae34;
	top: -620px;
	font-size: 55px;
}

#hdInicio h2{
	color: #262228;
	top: -600px;
	font-size: 44px;
}

section#secInicio h2{
	padding: 30px 0px;
}

section#secInicio article h3{
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

#tl0{
	display: none; /*No se muestre el titulo del section*/
}

#busqueda{
	margin-top: 22px;
	height: 30px;
	text-indent: 10px;
}

.content-search{
	width: 200px;
	height: 100px;
	position: fixed;
	top: 70px;
	background-color: #ced9d9;
	display: none;
}

.content-table{
	max-height: 200px;
	height: auto;
	background-color: #ced9d9;
	margin-left: 10px;
	overflow-y: visible;
	overflow-x: hidden;
}

div.contNosotros h2{
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-weight: bold;
}

div.contNosotros p{
	font-style: italic;
	text-align: center;
	font-size: 17px;
}

/*Creadores*/
#creadBody1, #creadBody2{
	background: rgba(0, 120, 73, .15); /*3,117,180 = #0375b4, .55 para opacity*/
}

#nombre1, #info1, #nombre2, #info2, #nombre3, #info3, #nombre4, #info4{
	padding-left: 10%;
}

#info1, #info2, #info3, #info4{
	font-size: 14pt;
}

#nombre1, #info1, #nombre2, #info2, #nombre3, #info3, #nombre4, #info4, #linea1, #linea2, #linea3{
	font-family: 'PT Serif', serif;
	color: #262228;
	text-align: justify;
}

#linea1, #linea2, #linea3{
	text-align: center;
}

#ce1, #ce2{
	text-align: left;
}

#im1, #im2, #im3, #im4, #nos1, #nos2, #nos3, #nos4, #nos5{
	padding-bottom: 2%;
}

input[class^='formularioInput']{
	margin-left: 30%;
	margin-bottom: 2%;
	width: 40%;
}

textarea[class^='formularioInput']{
	margin-bottom: 2%;
}


.botones{
	margin-bottom: 2%;
}

p[class^='descCons']{
	font-size: 14pt;
	padding: 3% 15%;
}

#contenidoCons{
	background-color: white;
}

.ant-carousel .slick-slide {
	text-align: center;
	height: 160px;
	line-height: 160px;
	background: #364d79;
  }
  
  .ant-carousel .slick-slide h3 {
	color: #fff;
  }

  